<%= render 'shared/navbar' %>

<main class="books">
  <ul class="books__list">
    <% @books.each do |book| %>
    <%= link_to book, class: 'books__link' do %>
    <li class="books__item">
      <div class="books__cover-wrapper">
        <img class="books__cover" src="<%= book.cover %>" />
      </div>

      <div class="books__info">
        <span class="books__title"><%= book.title %></span>
        <span class="books__author"><%= book.author %></span>
        <% if book.to_read? %>
        <span class="books__status books__status--to-read">
          <%= book.status %>
        </span>
        <% elsif book.reading? %>
        <span class="books__status books__status--reading">
          <%= book.status %>
        </span>
        <% elsif book.read? %>
        <span class="books__status books__status--read">
          <%= book.status %>
        </span>
        <%end%>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</main>
