<%= render 'shared/navbar' %>

<main class="books">
  <ul class="books__list">
    <% @books.each do |book| %>
    <li class="books__item">
      <div class="books__cover-wrapper">
        <img class="books__cover" src="<%= book.cover %>" />
      </div>

      <div class="books__info">
        <%= link_to book, class: 'books__link' do %>
        <span class="books__title"><%= book.title %></span>
        <% end %>
        <span class="books__author"><%= book.author %></span>
        <% if book.to_read? %>
        <span class="books__status books__status--to-read">
          <%= book.status %>
        </span>
        <% elsif book.reading? %>
        <span class="books__status books__status--reading">
          <%= book.status %>
        </span>
        <% elsif book.read? %>
        <span class="books__status books__status--read">
          <%= book.status %>
        </span>
        <% end %>
      </div>

      <div class="books__actions">
        <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <div class="books__destroy">
          <span class="material-icons">delete</span>
        </div>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</main>

<%= link_to new_book_url do %>
  <div class="books__add-button">
    <span class="material-icons">add</span>
  </div>
<% end %>
