<%= render 'shared/navbar' %>

<main class="board">
  <ul class="board__list board__list--to-read">
    <% @books_to_read.each do |book| %>
    <li class="board__item" draggable="true">
      <div class="board__cover-wrapper">
        <img class="board__cover" src="<%= book.cover %>" draggable="false" />
      </div>
      <div class="board__info">
        <span class="board__title"><%= truncate(book.title, :length => 18) %></span>
        <span class="board__author"><%= truncate(book.author, :length => 18) %></span>
      </div>
    </li>
    <% end %>
  </ul>

  <ul class="board__list board__list--reading">
    <% @reading_books.each do |book| %>
    <li class="board__item" draggable="true">
      <div class="board__cover-wrapper">
        <img class="board__cover" src="<%= book.cover %>" draggable="false" />
      </div>
      <div class="board__info">
        <span class="board__title"><%= truncate(book.title, :length => 18) %></span>
        <span class="board__author"><%= truncate(book.author, :length => 18) %></span>
      </div>
    </li>
    <% end %>
  </ul>

  <ul class="board__list board__list--read">
    <% @read_books.each do |book| %>
    <li class="board__item" draggable="true">
      <div class="board__cover-wrapper">
        <img class="board__cover" src="<%= book.cover %>" draggable="false" />
      </div>
      <div class="board__info">
        <span class="board__title"><%= truncate(book.title, :length => 18) %></span>
        <span class="board__author"><%= truncate(book.author, :length => 18) %></span>
      </div>
    </li>
    <% end %>
  </ul>
</main>
